 #contact-me {
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 30px;
    padding: 20px;
    border: solid #1875b3;
    background-color: #1875b3;
 }
.form-container {
    display: block;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.textarea.msg {
    display: inline-block;
}
 #textarea {
    min-height: 100px;
    max-height: 700px;
    resize: none; /* prevent manual sizing */
    overflow-y: hidden;
    width: 70%;
    vertical-align: middle;
}
textarea::placeholder, input::placeholder {
    font-style: italic;
    color: #686d6e;
    font-size: 0.7rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.label-input {
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    
}
.label-message {
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
}

#email, #subject, #name, #textarea {
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    height: 25px;
    margin: 20px;
    padding: 5px;
    font-size: 0.8rem;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    background: #e8edee;
    color: #000;   
}
.submit{
    display: inline-block;
    background-color: #79b7e0;
    color: black;
    border: none;
    border-radius: 5px;
    align-content: center;
    font-family: cursive, Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    width: 80%;
}
button:hover {
    background-color:#14cc70;
    color: white;
}
button:active {
    background-color: rgb(65, 73, 235);
}
